<%= turbo_frame_tag dom_id(booking) do %>
<div class="booking">
  <div>
    <strong>Advisor:</strong>
    <%= booking.advisor_id %>
  </div>

  <div>
    <strong>Supplier name:</strong>
    <%= booking.supplier_name %>
  </div>

  <div>
    <strong>Trip name:</strong>
    <%= booking.trip_name %>
  </div>

  <div>
    <strong>Total amount:</strong>
    <%= booking.total_amount %>
  </div>

  <div>
    <strong>Commission rate:</strong>
    <%= booking.commission_rate %>
  </div>

  <div>
    <strong>Travel date:</strong>
    <%= booking.travel_date %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= booking.status %>
  </div>

  <div>
    <strong>Commission received:</strong>
    <%= booking.commission_received %>
  </div>
  <%= link_to "Edit", edit_booking_path(booking) %>
</div>
<% end %>
