<div id="<%= dom_id booking %>">
  <div>
    <strong>Advisor:</strong>
    <%= booking.advisor_id %>
  </div>

  <div>
    <strong>Supplier name:</strong>
    <%= booking.supplier_name %>
  </div>

  <div>
    <strong>Trip name:</strong>
    <%= booking.trip_name %>
  </div>

  <div>
    <strong>Total amount:</strong>
    <%= booking.total_amount %>
  </div>

  <div>
    <strong>Commission rate:</strong>
    <%= booking.commission_rate %>
  </div>

  <div>
    <strong>Travel date:</strong>
    <%= booking.travel_date %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= booking.status %>
  </div>

  <div>
    <strong>Commission received:</strong>
    <%= booking.commission_received %>
  </div>

</div>
