<p style="color: green"><%= notice %></p>

<%= render @agency %>

<h2>Advisors</h2>
<ul>
  <% @agency.advisors.each do |advisor| %>
    <li><%= link_to advisor.name, advisor %> — <%= advisor.email %></li>
  <% end %>
</ul>
<%= link_to "Add advisor", new_advisor_path %>

<div>
  <%= link_to "Edit this agency", edit_agency_path(@agency) %> |
  <%= link_to "Back to agencies", agencies_path %>

  <%= button_to "Destroy this agency", @agency, method: :delete %>
</div>
